<!--Blog YAzarı-->

<div class="about-author d-flex p-4 bg-dark">
    <div class="bio mr-5">
        <img src="~/Uploads/607c2505-f0bd-4d59-a4fc-0252d8c12cc2.JPG" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>Onur Aydı</h3>
        <p>Şuan burası statik olarak geliyor ancak ilerleyen zamanlarda güzel bir yazı ile dinamikleştirilecek ve isim kısalığından kaynaklanan kötü görüntü de css vb ile düzenlenecek</p>
    </div>
</div>