@model CreatePortfolioExperienceDto

@{
    ViewData["Title"] = "CreatePortfolioExperience";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card" style="background-color: #191c24">
    <div class="card-body">
        <h4 class="card-title">İş Tecrübeleri</h4>
        <p class="card-description">İş Tecrübesi Ekleme Sayfası</p>
        <form class="forms-sample" method="post">
            <div class="form-group">
                <label for="Title">Başlık</label>
                <input type="text" class="form-control" asp-for="ExperienceTitle" placeholder="Başlık" />
            </div>
            <div class="form-group">
                <label for="Title">Şirket Adı</label>
                <input type="text" class="form-control" asp-for="CompanyName" placeholder="Şirket Adı" />
            </div>
            <div class="form-group">
                <label for="Title">Çalışılan Aralık</label>
                <input type="text" class="form-control" asp-for="ExperienceDate" placeholder="Çalışılan Aralık" />
            </div>
            <div class="form-group">
                <label for="Title">Açıklama</label>
                <textarea class="form-control" asp-for="Description" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Ekle</button>
            <button class="btn btn-info">Geri</button>
        </form>
    </div>
</div>