@model GetPortfolioAboutMeDto

    <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">İletişim</h2>
            <div class="block-23 mb-3">
                <ul>
                    <li><span class="icon icon-map-marker"></span><span class="text">@Model.Address</span></li>
                    <li><a href="tel:@Model.Phone"><span class="icon icon-phone"></span><span class="text">@Model.Phone</span></a></li>
                    <li><a href="mailto:@Model.Email"><span class="icon icon-envelope"></span><span class="text">@Model.Email</span></a></li>
                </ul>
            </div>
        </div>
    </div>