@model List<GetAllPortfolioBlogDto>
<!-- tam dinamikleşitirlmedi eklenmesi gereken prop ve cms'ler var-->

<section class="ftco-section" id="blog-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h1 class="big big-2">Öne Çıkan Makaleler</h1>
                <h2 class="mb-4">Öne Çıkan Makaleler</h2>
                <p>Bu kısımda öğrendiklerimi sizlerle paylaşmak için çeşitli konularda yazdığım makaleler bulunmakta</p>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-4 text-center">
                        <a href="/BlogDetail/GetAllBlog/" class="btn btn-primary btn-lg">Tüm Makaleler</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            @foreach (var item in Model)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="/BlogDetail/GetBlogDetail/@item.PortfolioBlogId" class="block-20" style="background-image: url('@Url.Content(item.CoverImage)');">
                        </a>
                        <div class="text mt-3 float-right d-block">
                            <div class="d-flex align-items-center mb-3 meta">
                                <p class="mb-0">
                                    <span class="mr-2">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                                    <a class="mr-2">Onur Aydı</a>
                                    <a class="meta-chat"><span class="icon-chat"></span> 0</a>
                                </p>
                            </div>
                            <h3 class="heading"><a href="/BlogDetail/GetBlogDetail/@item.PortfolioBlogId">@item.Title</a></h3>
                            <p>@item.SubContent</p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>