################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/Portfolio.WebUI/wwwroot/Uploads
