<head>
    <title>Onur Aydı-Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="~/AdminTemplate/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/animate.css">

    <link rel="stylesheet" href="~/AdminTemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/magnific-popup.css">

    <link rel="stylesheet" href="~/AdminTemplate/css/aos.css">

    <link rel="stylesheet" href="~/AdminTemplate/css/ionicons.min.css">

    <link rel="stylesheet" href="~/AdminTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/icomoon.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/style.css">
</head>