<!--İş tecrübesi kısmı-->
@model List<GetAllPortfolioExperienceDto>

<section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2">Tecrübeler</h1>
                <h2 class="mb-4">Tecrübeler</h2>
                <p>Maalesef daha önce iş tecrübem olmadı ancak iş tekliflerine açığım</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">

                    <div class="resume-wrap ftco-animate">
                        <span class="date">@item.ExperienceTitle</span>
                        <h2>@item.ExperienceDate</h2>
                        <span class="position">@item.CompanyName</span>
                        <p class="mt-4">@item.Description</p>
                    </div>
                </div>
            }
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center ftco-animate">
                <p><a href="#" class="btn btn-primary py-4 px-5">İş Teklifi</a></p>
            </div>
        </div>
    </div>
</section>