
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © onuraydi.com 2024</span>
                        @*<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>*@
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/AdminTemplate/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/AdminTemplate/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/AdminTemplate/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/AdminTemplate/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/AdminTemplate/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/AdminTemplate/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/AdminTemplate/assets/js/off-canvas.js"></script>
    <script src="~/AdminTemplate/assets/js/hoverable-collapse.js"></script>
    <script src="~/AdminTemplate/assets/js/misc.js"></script>
    <script src="~/AdminTemplate/assets/js/settings.js"></script>
    <script src="~/AdminTemplate/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/AdminTemplate/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>