@model CreatePortfolioProjectDto
@{
    ViewData["Title"] = "CreatePortfolioProject";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card" style="background-color: #191c24">
    <div class="card-body">
        <h4 class="card-title">Projeler</h4>
        <p class="card-description">Proje Ekleme Sayfası</p>
        <form class="forms-sample" method="post">
            <div class="form-group">
                <label for="Title">Proje Adı</label>
                <input type="text" class="form-control" asp-for="ProjectName" placeholder="Proje Adı" />
            </div>
            <div class="form-group">
                <label for="Title">Projedeki Rol</label>
                <input type="text" class="form-control" asp-for="ProjectRole" placeholder="Projedeki Rol" />
            </div>
            <div class="form-group">
                <label for="Title">Projeye Başlama Tarihi</label>
                <input type="text" class="form-control" asp-for="ProjectStartDate" placeholder="Projeye Başlama Tarihi" />
            </div>
            <div class="form-group">
                <label for="Title">Proje Açıklaması</label>
                <textarea class="form-control" asp-for="ProjectDescription" rows="5" placeholder="Proje Açıklaması"></textarea>
            </div>
            <div class="form-group">
                <label for="Title">Ana Resim</label>
                <input type="text" class="form-control" asp-for="Image1" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image2" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image3" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image4" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image5" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image6" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image7" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image8" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image9" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <div class="form-group">
                <label for="Title">Resim</label>
                <input type="text" class="form-control" asp-for="Image10" placeholder="Resim URL(sonra file upload olacak)" />
            </div>
            <button type="submit" class="btn btn-primary mr-2">Ekle</button>
            <button class="btn btn-info">Geri</button>
        </form>
    </div>
</div>