@model CreatePortfolioTechnologyDto

@{
    ViewData["Title"] = "CreatePortfolioTechnology";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card" style="background-color: #191c24">
    <div class="card-body">
        <h4 class="card-title">Çalışılan Teknolojiler</h4>
        <p class="card-description">Çalıştığınız Teknolojileri Bu Sayfadan Ekleyebilirsiniz</p>
        <form class="forms-sample" method="post">
            <div class="form-group">
                <label for="Title">Teknoloji Adı</label>
                <input type="text" class="form-control" asp-for="TechnologyName" placeholder="Teknoloji Adı" />
            </div>
            <div class="form-group">
                <label for="Title">İkon URL (file upload olacak)</label>
                <input type="text" class="form-control" asp-for="IconUrl" placeholder="İkon URL" />
            </div>
            <button type="submit" class="btn btn-primary mr-2">Ekle</button>
            <button class="btn btn-info">Geri</button>
        </form>
    </div>
</div>