@model List<GetAllPortfolioProjectFooterDto> 

<div class="col-md">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Öne Çıkan Projeler</h2>
        <ul class="list-unstyled">
            @foreach (var item in Model)
            {
                <li><a href="@item.ProjectLink" target="_blank"><span class="icon-long-arrow-right mr-2"></span>@item.ProjectName</a></li>
            }
        </ul>
    </div>
</div>
