<!--Taglar-->
@model List<Portfolio.DtoLayer.PortfolioDtos.PortfolioBlogTagDtos.GetAllPortfolioBlogTagDto>

<div class="sidebar-box ftco-animate">
    <h3 class="heading-sidebar">Taglar</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="/BlogDetail/GetBlogByTag/@item.PortfolioBlogTagId" class="tag-cloud-link">@item.TagName</a>
        }
    </div>
</div>