<!--Yetenekler ve hakim olma yüzdesi-->
@model List<GetAllPortfolioSkillDto>

<section class="ftco-section" id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Yetenekler</h1>
                <h2 class="mb-4">Yeteneklerim</h2>
                <p>Daha Önce çalıştığım programlama dilleri, teknolojiler ve yetkinlik düzeyim</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 animate-box">
                    <div class="progress-wrap ftco-animate">
                        <h3>@item.SkillName</h3>
                        <div class="progress">
                            <div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
                                 aria-valuemin="0" aria-valuemax="100" style="width:@item.SkillPercent%">
                                <span>@item.SkillPercent %</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>