@model List<GetAllPortfolioFreelanceDto>

<section id="hireme-section" class="ftco-section ftco-hireme img margin-top" style="background-image: url('@Url.Content("~/Uploads/computer-screens-desk-advanced-server-hub.jpg")');">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row justify-content-center">

                <div class="col-md-7 ftco-animate text-center">

                    <h2>@item.Title</h2>
                    <p style="color:white">@item.Description</p>
                    <a href="@item.ButtonHref" class="btn btn-primary py-3 px-5">İş Teklifi</a>

                </div>
               
            </div>
        }
        </div>
</section>
