@{
    ViewData["Title"] = "GetAllBlog";
    Layout = "~/Views/BlogUILayout/_BlogUILayout.cshtml";
    //Layout = "~/Views/Shared/Components/_ContentBlogUILayoutComponentPartial/Default.cshtml";
}

@*@await Component.InvokeAsync("_ContentBlogUILayoutComponentPartial")*@

@*<div class="row">
    <div class="col-lg-8 ftco-animate">
        @await Component.InvokeAsync("_BlogGetAllBlogContentBlogUILayoutComponentPartial")
    </div>

    <div class="col-lg-4 sidebar ftco-animate">
        @await Component.InvokeAsync("_BlogSearchBarContentBlogUILayoutComponentPartial")
        @await Component.InvokeAsync("_BlogCategoryContentBlogUILayoutComponentPartial")
        @await Component.InvokeAsync("_BlogOtherBlogContentBlogUILayoutComponentPartial")
        @await Component.InvokeAsync("_BlogBlogTagsContentBlogUILayoutComponentPartial")
        @await Component.InvokeAsync("_BlogSubParagraphContentBlogUILayoutComponentPartial")
    </div>
</div>*@

