@model GetPortfolioBlogByPortfolioBlogIdDto




<div>
    <h2 class="mb-3">@Model.Title</h2>
    <div id="blog-content">@Html.Raw(Model.Content)</div>
        
    
    <div class="tag-widget post-tag-container mb-5 mt-5">
        <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Life</a>
            <a href="#" class="tag-cloud-link">Sport</a>
            <a href="#" class="tag-cloud-link">Tech</a>
            <a href="#" class="tag-cloud-link">Travel</a>
        </div>
    </div>
</div>
