@model GetPortfolioBlogByPortfolioBlogIdDto

<link href="~/css/quill.css" rel="stylesheet" />

<style>
    /* Yalnızca kod bloklarının görünümünü değiştirmek için */
    .ql-syntax {
        background-color: #2e3440;
        color: #d8dee9;
        padding: 12px;
        border-radius: 6px;
        font-family: monospace;
        font-size: 14px;
    }
</style>

@if (Model != null)
{
    <div>
        <h2 class="mb-3">@Model.Title</h2>
        <div id="blog-content" class="content">@Html.Raw(Model.Content)</div>


        <div class="tag-widget post-tag-container mb-5 mt-5">
            <div class="tagcloud">
                @foreach (var item in Model.PortfolioBlogTags)
                {
                    <a href="/BlogDetail/GetBlogByTag/@item.PortfolioBlogTagId" class="tag-cloud-link">@item.TagName</a>
                }
            </div>
        </div>
    </div>
}



@*@await Html.PartialAsync("~/Views/Shared/Components/_BlogAllCommentsContentBlogUILayoutComponentPartial/Default.cshtml",new {id = ViewBag.Blogid})*@