@model GetPortfolioBlogTagByPortfolioBlogTagIdDto 

@{
    ViewData["Title"] = "UpdatePortfolioBlogTag";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card" style="background-color: #191c24">
    <div class="card-body">
        <h4 class="card-title">Blog Tagları</h4>
        <p class="card-description">Bloglara ait tagları Bu Sayfadan Güncelleyebilirsin</p>
        <form class="forms-sample" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="PortfolioBlogTagId" />
            <div class="form-group">
                <label for="Title">Tagın Adı</label>
                <input type="text" class="form-control" asp-for="TagName" placeholder="Tagın Adı" />
            </div>
            <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
            <button type="button" class="btn btn-dark">Geri</button>
        </form>
    </div>
</div>
