<!--Blog Kategorileri-->
@model List<GetBlogCategoryDto>
<div class="sidebar-box ftco-animate">
    <h3 class="heading-sidebar">Categories</h3>
    <ul class="categories">
        @foreach (var item in Model)
        {
            <li><a href="#">@item.CategoryName <span>sayı ve link gelecek</span></a></li>
        }
    </ul>
</div>