@model CreatePortfolioCertificateDto
@{
    ViewData["Title"] = "CreatePortfolioCertificate";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card" style="background-color: #191c24">
    <div class="card-body">
        <h4 class="card-title">Sertifikalar</h4>
        <p class="card-description">Sertifika Ekleme Sayfası</p>
        <form class="forms-sample" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Title">Sertifika Adı</label>
                <input type="text" class="form-control" asp-for="CertificateName" placeholder="Sertifika Adı" />
            </div>
            <div class="form-group">
                <label for="Title">Sertfika URL </label>
                <input type="text" class="form-control" asp-for="CertificateUrl" placeholder="Sertifika URL" />
            </div>
            <div class="form-group">
                <label for="Title">Açıklama</label>
                <textarea class="form-control" asp-for="CertificateDescription" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="Title">Sertifika Alınma Tarihi</label>
                <input type="date" class="form-control" asp-for="CertificateDoneDate" placeholder="Sertfika Alınma Tarihi" />
            </div>
            <div class="form-group">
                <label for="image" class="text-white">Sertifika Resmi</label>
                <div class="input-group-append">
                    <input type="file" asp-for="Image" id="image" class="form-control file-upload-default" />
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Sertifika Resmi"/>
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="document.getElementById('image').click()">Yükle</button>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Ekle</button>
            <button onclick="history.back()" class="btn btn-info">Geri</button>
        </form>
    </div>
</div>