<!--<section class="hero-wrap js-fullheight"--> @*style="background-image: url('@Url.Content()');"*@ <!--data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-12 ftco-animate pb-5 mb-3 text-center">
                <h1 class="mb-3 bread">Blog Single Post</h1>
            </div>
        </div>
    </div>
</section>-->

<!-- Burası resimli blog karşılama sayfasıydı onu iptal ettim -->