@model GetPortfolioBlogByPortfolioBlogIdDto
@{
    ViewData["Title"] = "UpdatePortfolioBlog";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}

<link href="~/css/quill.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Arial&family=Courier+New&family=Georgia&family=Times+New+Roman&family=Verdana&family=Trebuchet+MS&family=Comic+Sans+MS&family=Impact&family=Tahoma&family=Helvetica&display=swap" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="col-lg-12 grid-margin stretch-card" style="background-color: #191c24">
    <div class="card-body">
        <h4 class="card-title">Blog</h4>
        <p class="card-description">Blog Güncelleme Sayfası</p>
        <form id="blogForm" class="forms-sample">
            <input type="hidden" asp-for="PortfolioBlogId" id="portfolioBlogId" />
            <div class="form-group">
                <label for="Title">Başlık</label>
                <input type="text" class="form-control" id="title" asp-for="Title" placeholder="Başlık" />
            </div>
            <div class="form-group">
                <label for="SubContent">Kısa Açıklama</label>
                <input type="text" class="form-control" id="SubContent" asp-for="SubContent" placeholder="Kısa Açıklama" />
            </div>
            <div class="form-group">
                <label for="CoverImage">Kapak Resmi</label>
                <input type="text" class="form-control" id="CoverImage" asp-for="CoverImage" placeholder="Kapak Resmi" />
            </div>
            <div class="form-group">
                <label for="PublishDate">Yayımlanma Tarihi</label>
                <input type="date" class="form-control" id="PublishDate" asp-for="PublishDate" placeholder="Yayımlanma Tarihi" />
            </div>
            <div class="form-group">
                <label for="Content">Blog İçeriği</label>
                <div id="editor-container"></div>
                <input type="hidden" id="content" name="Content" /> <!-- İçeriği saklayacağımız hidden input -->
            </div>
            <button type="button" class="btn btn-primary mr-2" id="submitBtn">Güncelle</button>
            <button type="button" class="btn btn-info" onclick="history.back()">Geri</button>
        </form>
    </div>
</div>


<script>
    // Yazı tipi ve boyut seçeneklerini tanımla

    const fontSizeArr = ['8px', '9px', '10px', '12px', '14px', '16px', '20px', '24px', '32px', '42px', '54px', '68px', '84px', '98px'];
    const fontFamilyArr = ['Arial', 'Courier New', 'Georgia', 'Times New Roman', 'Verdana', 'Trebuchet MS', 'Comic Sans MS', 'Impact', 'Tahoma', 'Helvetica'];

    var Font = Quill.import('attributors/style/font');
    Font.whitelist = fontFamilyArr;
    Quill.register(Font, true);

    var Size = Quill.import('attributors/style/size');
    Size.whitelist = fontSizeArr;
    Quill.register(Size, true);

    // Toolbar ayarları
    var toolbarOptions = [
        [{ 'font': fontFamilyArr }],
        [{ 'size': fontSizeArr }],
        ['bold', 'italic', 'underline', 'strike'],
        [{ 'color': [] }, { 'background': [] }],
        [{ 'script': 'sub' }, { 'script': 'super' }],
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        ['blockquote', 'code-block'],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'indent': '-1' }, { 'indent': '+1' }],
        [{ 'direction': 'rtl' }],
        [{ 'align': [] }],
        ['link', 'image', 'video'],
        ['clean']
    ];

    // Quill'i başlat
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: toolbarOptions,
            imageResize: {}
        },
        theme: 'snow'
    });


    // Eğer veritabanından gelen içeriği doğrudan kullanıyorsanız
    var contentFromModel = '@Html.Raw(Model.Content)';
    quill.root.innerHTML = contentFromModel;

   


    document.getElementById('submitBtn').addEventListener('click', function () {
        var portfolioBlogId = document.getElementById('portfolioBlogId').value;
        var content = quill.root.innerHTML;
        var title = document.getElementById('title').value;
        var subContent = document.getElementById('SubContent').value;
        var coverImage = document.getElementById('CoverImage').value;
        var publishDate = document.getElementById('PublishDate').value;

        // AJAX ile formu gönder
        $.ajax({
            url: '@Url.Action("UpdatePortfolioBlog", "PortfolioBlog")',
            type: 'POST',
            data: {
                PortfolioBlogId: portfolioBlogId,
                Title: title,
                Content: content,
                SubContent: subContent,
                CoverImage: coverImage,
                PublishDate: publishDate
            },
            success: function(response) {
                window.location.href = '@Url.Action("GetAllPortfolioBlog", "PortfolioBlog", new { area = "Admin" })';
            },
            error: function(xhr, status, error) {
                alert('Güncelleme işlemi başarısız oldu: ' + error);
            }
        });
    });
</script>

